<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<layoutype>thumbnail</layoutype>

<channels>

<channel>
<name>Filmes</name>
<thumbnail>http://images.comunidades.net/tim/timedownloands/filmes.png</thumbnail>
<externallink>https://raw.githubusercontent.com/TvSolution/TvSolution/master/Clientes/Maiara/Filmes.xml</externallink>
<fanart>http://i.imgur.com/KoOB7yJ.jpg</fanart>
<info>FILMES DA MELHOR QUALIDADE</info>
</channel>

<channel>
<name>Series</name>
<thumbnail>http://www.adirferreira.com.br/wp-content/uploads/2015/09/TV-Series.png</thumbnail>
<externallink>https://raw.githubusercontent.com/TvSolution/TvSolution/master/Clientes/Maiara/Series.xml</externallink>
<fanart>https://goo.gl/PqnHX7</fanart>
<info>SÉRIES</info>
</channel>


<channel>
<name>[COLOR white][B]DESENHOS[/B][/COLOR]</name>
<thumbnail>https://i.imgur.com/UugqXBY.png</thumbnail>
<externallink>https://cld.pt/dl/download/2b329ead-a9ab-46f9-8630-6a348a24d2fe/DESENHOS.xml</externallink>
<fanart>http://www.baltana.com/files/wallpapers-3/Smurfs-The-Lost-Village-Wallpaper-10490.jpg</fanart>
<info>ÁREA DE DESENHOS</info>
</channel>

